workflows/2026-05-08/Fog_Cleanup.json
{
  "updatedAt": "2026-03-20T15:16:44.466Z",
  "createdAt": "2026-03-20T14:25:15.204Z",
  "id": "KNJxX91O9PqhFb5PlK67e",
  "name": "Fog Cleanup",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id as postgres_id,\n    fog_host_id,\n    computer_name,\n    inventory_number,\n    glpi_computer_id,\n    serial_number\nFROM created_computers \nWHERE status = 'created' \n  AND fog_host_id IS NOT NULL\n  AND glpi_computer_id IS NOT NULL\nORDER BY id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        -160
      ],
      "id": "8d5663d0-5ee6-4d9d-86ac-92f209d51770",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "V7cbqAVqoEJ2eCid",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare FOG deletion requests for each host\nconst results = items.map(item => {\n  const input = item.json;\n  \n  console.log(`Preparing FOG deletion for: ${input.computer_name} (FOG Host ID: ${input.fog_host_id})`);\n  \n  return {\n    json: {\n      // Data for FOG API\n      fog_host_id: input.fog_host_id,\n      \n      // Metadata for tracking\n      postgres_id: input.postgres_id,\n      computer_name: input.computer_name,\n      inventory_number: input.inventory_number,\n      glpi_computer_id: input.glpi_computer_id,\n      serial_number: input.serial_number\n    }\n  };\n});\n\nconsole.log(`Prepared ${results.length} FOG deletion requests`);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ],
      "id": "9b46affd-fe05-4c3c-8ee4-3671e8f226fa",
      "name": "Prepare FOG deletion"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://172.16.0.178/fog/host/{{$json.fog_host_id}}/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "fog-api-token\t",
              "value": "YzVlZTcwYTQyODc0ZGM0OGVkMTI1Mjk4MjhlMmRlMGE4MWQ5NzM1OGRmM2I5YTUwYTBhMzI3ZTlmZTQzMDI4ZDU5YzFiMzc1MWM5MTU2YzZmY2E2N2M1NWRlYTBjYTg4NzMxYWYwNTMxMjY0NWIyMDNhNDRlMTIxMThjNTFjM2I"
            },
            {
              "name": "fog-user-token",
              "value": "MTRmZTYzYjkxZmFmODVkMTg2ZWNhMTM4NTg0Yzg4ZmZiOGQzOWQwOGMwYzI4MzhkMzI4NTZmNTQwMzA2OGVhMTc2YzU0NWY3Y2UxYzg5OGY0ZDdjMjYyZTU4MDAyYWM3YThiN2VlNGJjYzA3Njg1YzA0YmU3OTQ1Yjk4OWJmYzQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -160
      ],
      "id": "61d7449c-b464-4530-8078-ca0bc2c88325",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Process FOG deletion results\nconst results = items.map(item => {\n  const input = item.json;\n  const response = item.response;\n  \n  // Check if deletion was successful\n  const success = response && response.status === 200;\n  const error = response && response.error ? response.error : null;\n  \n  console.log(`FOG deletion for ${input.computer_name}: ${success ? 'SUCCESS' : 'FAILED'}`);\n  \n  return {\n    json: {\n      // Original data\n      ...input,\n      \n      // Deletion results\n      deletion_success: success,\n      deletion_error: error,\n      deletion_response: response,\n      \n      // Timestamp\n      deleted_at: success ? new Date().toISOString() : null\n    }\n  };\n});\n\n// Log summary\nconst successCount = results.filter(r => r.json.deletion_success).length;\nconst failCount = results.length - successCount;\nconsole.log(`FOG deletion summary: ${successCount} successful, ${failCount} failed`);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -160
      ],
      "id": "ca8c4f88-2e0a-4c4e-9591-e1ae05743fcb",
      "name": "Error handling"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE created_computers \nSET \n    status = CASE \n        WHEN $1 = true THEN 'deleted_from_fog' \n        ELSE 'fog_deletion_failed' \n    END,\n    fog_deleted_at = CASE \n        WHEN $1 = true THEN NOW() \n        ELSE NULL \n    END,\n    fog_deletion_error = $2\nWHERE id = $3",
        "options": {
          "queryReplacement": "={{$json.deletion_success}}, {{$json.deletion_error}}, {{$json.postgres_id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -160
      ],
      "id": "2871582a-8d97-49f3-919a-959b6de2eea8",
      "name": "update status",
      "credentials": {
        "postgres": {
          "id": "V7cbqAVqoEJ2eCid",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -160
      ],
      "id": "632effd5-07fa-4383-8a31-5011c454acbf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d2096e5b-9770-4423-b6d2-11c1783e2386",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -32,
        -160
      ]
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Prepare FOG deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FOG deletion": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error handling": {
      "main": [
        [
          {
            "node": "update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update status": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "id": 266,
          "entity_type": "storage",
          "glpi_id": 121,
          "name": "KBG40ZNS256GNVMeKIOXIA256GB",
          "normalized_name": "kbg40zns256gnvmekioxia256gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 267,
          "entity_type": "storage",
          "glpi_id": 132,
          "name": "KBG40ZNS512GNVMeKIOXIA512GB",
          "normalized_name": "kbg40zns512gnvmekioxia512gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 268,
          "entity_type": "storage",
          "glpi_id": 133,
          "name": "BC711NVMeSKhynix512GB",
          "normalized_name": "bc711nvmeskhynix512gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 269,
          "entity_type": "storage",
          "glpi_id": 124,
          "name": "WDCPCSN530SDBPNPZ-256G-1114",
          "normalized_name": "wdcpcsn530sdbpnpz-256g-1114",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 270,
          "entity_type": "storage",
          "glpi_id": 125,
          "name": "PM991aNVMeSamsung256GB",
          "normalized_name": "pm991anvmesamsung256gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 271,
          "entity_type": "storage",
          "glpi_id": 131,
          "name": "SKhynixBC501HFM256GDJTNG-8310A",
          "normalized_name": "skhynixbc501hfm256gdjtng-8310a",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 272,
          "entity_type": "storage",
          "glpi_id": 126,
          "name": "TOSHIBA DT01ACA100",
          "normalized_name": "toshiba dt01aca100",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 273,
          "entity_type": "storage",
          "glpi_id": 130,
          "name": "Unknown",
          "normalized_name": "unknown",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 274,
          "entity_type": "storage",
          "glpi_id": 128,
          "name": "LITEON CV3-CE128-11 SATA 128GB",
          "normalized_name": "liteon cv3-ce128-11 sata 128gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 275,
          "entity_type": "storage",
          "glpi_id": 127,
          "name": "Micron_1100_MTFDDAK256TBN",
          "normalized_name": "micron_1100_mtfddak256tbn",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 276,
          "entity_type": "storage",
          "glpi_id": 129,
          "name": "MTFDDAV256TBN-1AR15ABHA",
          "normalized_name": "mtfddav256tbn-1ar15abha",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 277,
          "entity_type": "storage",
          "glpi_id": 123,
          "name": "SAMSUNGMZVLB256HAHQ-000H1",
          "normalized_name": "samsungmzvlb256hahq-000h1",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 278,
          "entity_type": "storage",
          "glpi_id": 120,
          "name": "KBG30ZMV256GTOSHIBA",
          "normalized_name": "kbg30zmv256gtoshiba",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 279,
          "entity_type": "storage",
          "glpi_id": 122,
          "name": "KXG60ZNV256GNVMeTOSHIBA256GB",
          "normalized_name": "kxg60znv256gnvmetoshiba256gb",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 280,
          "entity_type": "storage",
          "glpi_id": 134,
          "name": "MTFDDAV256TDL-1AW1ZABHA",
          "normalized_name": "mtfddav256tdl-1aw1zabha",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 281,
          "entity_type": "storage",
          "glpi_id": 135,
          "name": "SAMSUNGMZVLB256HBHQ-000L7",
          "normalized_name": "samsungmzvlb256hbhq-000l7",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 282,
          "entity_type": "storage",
          "glpi_id": 136,
          "name": "KXG5AZNV256GTOSHIBA",
          "normalized_name": "kxg5aznv256gtoshiba",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 283,
          "entity_type": "storage",
          "glpi_id": 137,
          "name": "UMISRPJTJ512MEE1OWX",
          "normalized_name": "umisrpjtj512mee1owx",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 284,
          "entity_type": "storage",
          "glpi_id": 138,
          "name": "SKHynix_HFM256GD3HX015N",
          "normalized_name": "skhynix_hfm256gd3hx015n",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 285,
          "entity_type": "storage",
          "glpi_id": 139,
          "name": "HFM256GDHTNG-8510B",
          "normalized_name": "hfm256gdhtng-8510b",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 286,
          "entity_type": "storage",
          "glpi_id": 140,
          "name": "SKHynix_HFM512GD3HX015N",
          "normalized_name": "skhynix_hfm512gd3hx015n",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      },
      {
        "json": {
          "id": 287,
          "entity_type": "storage",
          "glpi_id": 141,
          "name": "SKHynix_HFS256GD9TNG-L5B0B",
          "normalized_name": "skhynix_hfs256gd9tng-l5b0b",
          "last_seen": "2026-03-20T09:34:22.573Z",
          "created_at": "2026-03-20T09:34:22.573Z"
        }
      }
    ]
  },
  "versionId": "3b294301-4ad3-4f7a-a5d9-9b5233b93fcd",
  "activeVersionId": "3b294301-4ad3-4f7a-a5d9-9b5233b93fcd",
  "versionCounter": 60,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-20T14:25:15.406Z",
      "createdAt": "2026-03-20T14:25:15.406Z",
      "role": "workflow:owner",
      "workflowId": "KNJxX91O9PqhFb5PlK67e",
      "projectId": "1QhMRJYuO8xtYfJD",
      "project": {
        "updatedAt": "2026-01-23T16:30:55.431Z",
        "createdAt": "2026-01-22T15:39:16.810Z",
        "id": "1QhMRJYuO8xtYfJD",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1a262c4f-45e8-438c-8358-3323325186ca"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 3b294301",
    "description": ""
  }
}