workflows/2026-05-08/FOG→GLPI_Batch_Import_(Orchestrator)_webhook.json
{
  "updatedAt": "2026-05-05T09:43:35.974Z",
  "createdAt": "2026-05-05T08:05:23.120Z",
  "id": "TKnhi25Y5mhBsNfB",
  "name": "FOG\u2192GLPI Batch Import (Orchestrator) webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OplL5zzmgqdnTKu0",
          "mode": "list",
          "cachedResultUrl": "/workflow/OplL5zzmgqdnTKu0",
          "cachedResultName": "GLPI check for duplicates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        -272
      ],
      "id": "97675159-73fc-44f0-bfa7-aef0307337f9",
      "name": "Call 'GLPI check for duplicates'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lMQzfq7dsr6qPNJS",
          "mode": "list",
          "cachedResultUrl": "/workflow/lMQzfq7dsr6qPNJS",
          "cachedResultName": "FOG hosts to GLPI inventory"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        -272
      ],
      "id": "dda3451b-5d88-436c-af5f-2c44ca654bda",
      "name": "Call 'FOG hosts to GLPI inventory'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9327G7LUPDLlRLVX",
          "mode": "list",
          "cachedResultUrl": "/workflow/9327G7LUPDLlRLVX",
          "cachedResultName": "GLPI Computer Creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        -368
      ],
      "id": "ba618198-17d4-404c-9551-7818f8d2ac20",
      "name": "Call 'GLPI Computer Creation'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zVp6IXRAwSh8RF5h",
          "mode": "list",
          "cachedResultUrl": "/workflow/zVp6IXRAwSh8RF5h",
          "cachedResultName": "FOG Host Retrieval"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        -464
      ],
      "id": "3fb6135d-0966-4186-a40c-f80a2a30be2b",
      "name": "Call 'FOG Host Retrieval'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -368
      ],
      "id": "ff6052b8-39e8-4daa-9a0a-0092cd3b777a",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dJojjKQwZEjuklHz",
          "mode": "list",
          "cachedResultUrl": "/workflow/dJojjKQwZEjuklHz",
          "cachedResultName": "Label Printing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inventory_number": "={{ $json.inventory_number }}"
          },
          "matchingColumns": [
            "inventory_number"
          ],
          "schema": [
            {
              "id": "inventory_number",
              "displayName": "inventory_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        -368
      ],
      "id": "cc44f48c-d9b0-4ea7-a30e-742a5f4c093d",
      "name": "Call 'Label Printing'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/trigger-fog-glpi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -272
      ],
      "id": "001c5140-085f-4273-b37c-8c2136fa60bc",
      "name": "Webhook",
      "webhookId": "f84e7c4b-b1aa-4c02-93f4-a851edac7ca6"
    }
  ],
  "connections": {
    "Call 'GLPI check for duplicates'": {
      "main": [
        [
          {
            "node": "Call 'FOG hosts to GLPI inventory'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'FOG hosts to GLPI inventory'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'FOG Host Retrieval'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GLPI Computer Creation'": {
      "main": [
        [
          {
            "node": "Call 'Label Printing'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'GLPI Computer Creation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'GLPI check for duplicates'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'FOG Host Retrieval'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "755142fd-87a1-43e1-9410-082455935b00",
  "activeVersionId": "755142fd-87a1-43e1-9410-082455935b00",
  "versionCounter": 9,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-05T08:05:23.266Z",
      "createdAt": "2026-05-05T08:05:23.266Z",
      "role": "workflow:owner",
      "workflowId": "TKnhi25Y5mhBsNfB",
      "projectId": "1QhMRJYuO8xtYfJD",
      "project": {
        "updatedAt": "2026-01-23T16:30:55.431Z",
        "createdAt": "2026-01-22T15:39:16.810Z",
        "id": "1QhMRJYuO8xtYfJD",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1a262c4f-45e8-438c-8358-3323325186ca"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 755142fd",
    "description": ""
  }
}